<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slick練習</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <style>
.slider{
  width:70%;
  margin:0 auto;
}

/*------ スライダー画像 ------*/
.slider img{
	width:100%;
}

/*-------- 高さ調整 ----------*/
.slider .slick-slide{
	height:auto!important;
}

/*---------- 矢印 ----------*/
.slider .slick-next{
    right:0!important;
}
.slider .slick-prev{
    left:0!important;
}
.slider .slick-arrow{
    width: initial!important;
    height: initial!important;
    z-index:2!important;
}
.slider .slick-arrow:before{
    font-size: 30px!important;
}
    </style>
</head>
<body>
    <div class="slider">
        <img src="{{ blocks.settings.image  | img_url}}">
        <img src="{{ '0.jpeg' | asset_url }}">
        <img src="{{ '1546_pic.jpg' | asset_url }}">
        <img src="{{ 'images.jpg' | asset_url }}">
    </div>

    <script>
        $(function(){
            $('.slider').slick({
                autoplay: true,       //自動再生
                autoplaySpeed: 2000,  //自動再生のスピード
                speed: 800,           //スライドするスピード
                dots: true,           //スライド下のドット
                arrows: true,         //左右の矢印
                infinite: true,
                slidesToShow: 3, // 表示させるスライド数
            })
        })
    </script>
</body>
</html>

{% schema %}
{
  "name": "スライダーsample",
  "class": "slide-wrap",
  "settings": [
    {
      "type": "select",
      "id": "slide_height",
      "label": "スライドの高さ",
      "default": "adapt",
      "options": [
        {
          "label": "最初の画像の高さに対応",
          "value": "adapt"
        },
        {
          "label": "小",
          "value": "small"
        },
        {
          "label": "中",
          "value": "medium"
        },
        {
          "label": "大",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "文字サイズ",
      "options": [
        {
          "label": "中",
          "value": "medium"
        },
        {
          "label": "大",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "テキストアラインメント",
      "default": "center center",
      "options": [
        {
          "label": "中心",
          "value": "center center"
        },
        {
          "label": "左中央",
          "value": "left center"
        },
        {
          "label": "右中央",
          "value": "right center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "オーバーレイを表示する",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "auto",
      "label": "スライドの自動切り替え",
      "default": false
    },
    {
      "type": "range",
      "id": "speed",
      "label": "スライドの変更する間隔",
      "max": 9,
      "min": 3,
      "step": 2,
      "unit": "秒",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "画像スライド",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        },
        {
          "type": "text",
          "id": "slide_title",
          "default": "見出しが入ります。",
          "label": "見出し"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "あなたのブランドのストーリーをビデオや画像で伝える",
          "label": "小見出し"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "スライダー画像",
      "category": "画像",
      "settings": {
        "auto": false,
        "speed": 5
      }
    }
  ]
}
{% endschema %}
